<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Home</title>
</head>
<body>
    <div id="body">
        <div id="header">
            <h1>Home</h1>
        </div>
        <div id="gallery">
            <div class="mInfoSpace" style="align-self: center; justify-self: center;">
                <a class="homeAnchor" href="/login">Login</a>
                <a class="homeAnchor" href="/register">Register</a>
            </div>
        </div>
        <div id="footer">
            <%- include('../partials/footer') %>
        </div>
    </div>
</body>
</html>